@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pacifico-Regular";
  src: url(./assets/Pacifico-Regular.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url(./assets/OpenSans-Bold.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(./assets/OpenSans-Regular.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url(./assets/WorkSans-VariableFont_wght.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WendyOne";
  src: url(./assets/WendyOne-Regular.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caveat";
  src: url(./assets/Caveat-VariableFont_wght.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.worksans {
  font-family: "WorkSans";
}

.wendyone {
  font-family: "WendyOne";
}

.caveat {
  font-family: "Caveat";
}

.pacifico {
  font-family: "Pacifico-Regular";
}

body {
  background-color: #f8fafc;
  font-family: "OpenSans";
}

.bg-color-default {
  background-color: #f8fafc;
}

.opensansbold {
  font-family: "OpenSansBold";
}
